.ingredient_item{
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

.drag_container{
    display: flex;
    justify-content: center;
    cursor: move;
}

.drag_container svg {
    height: 18.5px;
}

.item_container {
    background: var(--background);
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 16px 32px 16px 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.item_container_top{
    border-radius: 88px 88px 40px 40px;
    margin-top: initial;
    margin-right: 16px;
}

.item_container_bottom{
    border-radius: 40px 40px 88px 88px;
    margin-bottom: initial;
    margin-right: 16px;
}

.item_image{
    height: 40px;
    width: 80px;
}
.item_name{
    flex: 1;
    margin: 0px;
}
.item_price_container{
    display: flex;
    align-items: center;
    margin: 0px;
}

.item_price_icon{
    margin-left: 9px;
    height: 22px;
}
.item_delete{
    margin: 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.item_delete svg{
    height: 20px;
}