.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_left{
  width: 39%;
}
.content_center{
  flex: 1;
}
.content_right{
  width: 39%;
  display: flex;
  justify-content: flex-end;
}
